
QtWidgetsApplication1/.vs/
QtWidgetsApplication1/QtWidgetsApplication1/x64/
*.idx
QtWidgetsApplication1/QtWidgetsApplication1/QtWidgetsApplication1.vcxproj
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.asm
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/qmake/qtvars_x64_Debug.props
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/qmake/temp/.qmake.stash
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/qmake/temp/Makefile
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/qmake/temp/props.txt
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/qmake/temp/qtvars.log
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/qmake/temp/qtvars_x64_Debug.props
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/qt_work.log
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/QtWidget.0660973D.tlog/CL.command.1.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/QtWidget.0660973D.tlog/CL.read.1.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/QtWidget.0660973D.tlog/CL.write.1.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/QtWidget.0660973D.tlog/link.command.1.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/QtWidget.0660973D.tlog/link.read.1.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/QtWidget.0660973D.tlog/link.write.1.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/QtWidget.0660973D.tlog/metagen.read.1.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/QtWidget.0660973D.tlog/metagen.write.1.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/QtWidget.0660973D.tlog/moc.read.1u.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/QtWidget.0660973D.tlog/moc.write.1u.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/QtWidget.0660973D.tlog/QtWidgetsApplication1.lastbuildstate
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/QtWidget.0660973D.tlog/QtWidgetsApplication1.write.1u.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/QtWidget.0660973D.tlog/rc.command.1.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/QtWidget.0660973D.tlog/rc.read.1.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/QtWidget.0660973D.tlog/rc.write.1.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/QtWidget.0660973D.tlog/rcc.read.1u.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/QtWidget.0660973D.tlog/rcc.write.1u.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/QtWidget.0660973D.tlog/uic.read.1u.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/QtWidget.0660973D.tlog/uic.write.1u.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/QtWidgetsApplication1.log
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/QtWidgetsApplication1.res
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/QtWidgetsApplication1.vcxprojAssemblyReference.cache
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/rcc/qrc_QtWidgetsApplication1.cpp
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/uic/ui_QtWidgetsApplication1.h
QtWidgetsApplication1/QtWidgetsApplication1/x64/Debug/vc141.pdb
QtWidgetsApplication1/QtWidgetsApplication1/x64/Release/qmake/qtvars_x64_Release.props
QtWidgetsApplication1/QtWidgetsApplication1/x64/Release/qmake/temp/0660973D-B986-490B-A2B1-8AFBEABE117D.QtWidgetsApplication1.designtime.idx
QtWidgetsApplication1/QtWidgetsApplication1/x64/Release/qmake/temp/Makefile
QtWidgetsApplication1/QtWidgetsApplication1/x64/Release/qmake/temp/props.txt
QtWidgetsApplication1/QtWidgetsApplication1/x64/Release/qmake/temp/qtvars.log
QtWidgetsApplication1/QtWidgetsApplication1/x64/Release/qmake/temp/qtvars.pro
QtWidgetsApplication1/QtWidgetsApplication1/x64/Release/qmake/temp/qtvars_x64_Release.props
QtWidgetsApplication1/QtWidgetsApplication1/x64/Release/qt_work.log
QtWidgetsApplication1/QtWidgetsApplication1/x64/Release/QtWidget.0660973D.tlog/CL.12164.write.1.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Release/QtWidget.0660973D.tlog/CL.command.1.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Release/QtWidget.0660973D.tlog/CL.read.1.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Release/QtWidget.0660973D.tlog/moc.read.1u.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Release/QtWidget.0660973D.tlog/moc.write.1u.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Release/QtWidget.0660973D.tlog/QtWidgetsApplication1.lastbuildstate
QtWidgetsApplication1/QtWidgetsApplication1/x64/Release/QtWidget.0660973D.tlog/QtWidgetsApplication1.write.1u.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Release/QtWidget.0660973D.tlog/rcc.read.1u.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Release/QtWidget.0660973D.tlog/rcc.write.1u.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Release/QtWidget.0660973D.tlog/uic.read.1u.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Release/QtWidget.0660973D.tlog/uic.write.1u.tlog
QtWidgetsApplication1/QtWidgetsApplication1/x64/Release/QtWidget.0660973D.tlog/unsuccessfulbuild
QtWidgetsApplication1/QtWidgetsApplication1/x64/Release/QtWidgetsApplication1.log
QtWidgetsApplication1/QtWidgetsApplication1/x64/Release/rcc/qrc_QtWidgetsApplication1.cpp
QtWidgetsApplication1/QtWidgetsApplication1/x64/Release/uic/ui_QtWidgetsApplication1.h
QtWidgetsApplication1/x64/Debug/Helpers.dll
QtWidgetsApplication1/x64/Debug/ICSharpCode.SharpZipLib.dll
QtWidgetsApplication1/x64/Debug/QtWidgetsApplication1.exe
QtWidgetsApplication1/x64/Debug/QtWidgetsApplication1.pdb
QtWidgetsApplication1/x64/Release/Helpers.dll
QtWidgetsApplication1/x64/Release/ICSharpCode.SharpZipLib.dll
QtWidgetsApplication1/x64/Release/QtWidgetsApplication1.exe
QtWidgetsApplication1/x64/Release/QtWidgetsApplication1.exe.metagen
QtWidgetsApplication1/x64/Debug/MyDataBase.db
